* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Aclonica", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(13, 124, 124);
    /* background-image:url(../pikaso_text-to-image_Candid-image-photography-natural-textures-highly-r.jpeg) ; */
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
    padding: 1rem;
    color: rgb(13, 124, 124);
}
.logo{
    font-size: xx-large;
    font-weight: bold;
}
.tagline{
    font-size: large;
}
.nav-links{
    display: flex;
    list-style-type: none;
    gap: 1rem;
}
.nav-links li a{
    color: rgb(13, 124, 124);
    font-weight: 300;
    text-decoration: none;
}
.nav-links li a:hover{
    color: black;
    text-decoration: underline;
}
.content{
    
    padding: 30px;
    color: aliceblue;
    text-align: left;
}
.content p{
    padding-top: 10px;
}
.menu-btn{
    display: none;
    border: none;
    color: rgb(0, 0, 0);
    /* background-color: rgb(13, 124, 124) ; */
    font-size: large;
    
}
.content{  
     padding: 60px;
    color: aliceblue;
    
}
.content p{
    padding-top: 10px;
}
.box-container{
    padding: 30px;
    justify-content: center;
    
    margin-top: 30px;
    

}






@media screen and (max-width:768px){
    .nav-links{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        right: 0px;
        background-color: aliceblue;
        width: 100%;
        padding: 1rem;
        align-items: center;
    }
    .nav-links.active{
        display: flex;
    }
    .menu-btn{
        display: block;
    }
    
}

.footer {
    background-color: aliceblue;
    color: rgb(13, 124, 124);
    /* padding: 5% 0; */

}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    max-width: 1200px;
    margin: auto;
}

.footer-section {
    flex: 1;
    margin: 10px;
}

.footer h3 {
    margin-bottom: 10px;
    font-size: 1rem;
}

.footer p,
.footer ul,
.footer a {
    font-size: 14px;
    color: rgb(13, 124, 124);
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin: 5px 0;
}

.footer ul li a {
    color: rgb(13, 124, 124);
    text-decoration: none;
    transition: color 0.3s;
}

.footer ul li a:hover {
    color: rgb(0, 0, 0);
}

.socials {
    display: flex;
    gap: 10px;
}

.social-icon {
    color: rgb(13, 124, 124);
    transition: color 0.3s;
}

.social-icon:hover {
    color: rgb(0, 0, 0);
}

@media screen and (max-width:768px) {
    .footer-container {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

}

.About h1{
color: antiquewhite;
align-content: center;
padding: 30px;
}
.box-containerAbout{
    display: flex;
    color: antiquewhite;
    background-color:  rgb(13, 124, 124);
    height: 350px;
}
.product-range h1{
    color: beige;
    text-align: center;
    font-size: xx-large;
    font-weight: 800;
    text-decoration: underline;
    padding: 20px;

}
.box-containerproduct{
    color: beige;
    text-align: center;
    padding: 30px;

}
.box-containerproduct h4{
    font-weight: 600;
    font-style: italic;
    font-size: larger;
    text-decoration: underline;

}
.box-containerproduct img,h4,p{
    padding: 1rem;
    font-weight: 300;
    
}


.box-containerproduct img{
    border-radius: 30px;
    border-color: black;
}
.box-containerproduct p{
    font-size: larger;
}
.box-containerproduct button{
    padding: 10px;
    border-radius: 10px;
    font-size: medium;
}

.box-containerproduct2{
    color: beige;
    text-align: center;
    padding: 30px;
}

.box-containerproduct2 h4{
    font-weight: 600;
    font-style: italic;
    font-size: larger;
    text-decoration: underline;

}
.box-containerproduct2 img,h4,p{
    padding: 1rem;
    font-weight: 300;
}
.box-containerproduct2 img{
    border-radius: 30px;
    border-color: black;
}
.box-containerproduct2 p{
    font-size: larger;
}
.box-containerproduct2 button{
    padding: 10px;
    border-radius: 10px;
    font-size: medium;
}

.box-containerproduct3{
    color: beige;
    text-align: center;
    padding: 30px;

}
.box-containerproduct3 h4{
    font-weight: 600;
    font-style: italic;
    font-size: larger;
    text-decoration: underline;

}
.box-containerproduct3 img,h4,p{
    padding: 1rem;
    font-weight: 300;
    font-size: larger;
}
.box-containerproduct3 img{
    border-radius: 30px;
    border-color: black;
}
.box-containerproduct3 p{
    font-size: larger;
}
.box-containerproduct3 button{
    padding: 10px;
    border-radius: 10px;
    font-size: medium;
}
.contact{
    text-align: center;
    padding: 30px;
    color: beige;
}
.contact h1{
    padding: 20px;
    text-decoration: underline;
    font-size: xx-large;
}
    
